.container {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background-color: #B0C4DE;
    padding: 20px 20px 20px 20px;
    border: thick double black;
    position: center;
    font-family: 'Italiana', serif;
    box-align: center;
    display: flex;
  }

.textbox{
  text-align: center;
  margin: 0 auto;
}